@import url(//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.loader {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body, html {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

body {
  background: #000 url(../../img/ddos.jpg) no-repeat center center;
  background-size: cover;
}

table {
  font-size: 1em;
}

.ui-draggable, .ui-droppable {
  background-position: top;
}

.window {
  position: relative;
  -webkit-transition: 0.01s;
  transition: 0.01s;
  min-height: 100px;
  min-width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.window .headerbar {
  width: 100%;
  height: 32px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: #e7eaed;
}

.window .headerbar .window_icon {
  cursor: move;
  padding: 8px;
}

.window .headerbar .window_icon:hover {
  background: #cbced0;
}

.window .headerbar .window_title {
  padding: 8px;
  cursor: move;
}

.window .headerbar .window_title:hover {
  background: #cbced0;
}

.window .headerbar .window_contols {
  cursor: crosshair;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 19%;
      flex-basis: 19%;
}

.window .headerbar .window_contols .window_minimizebtn {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 50%;
}

.window .headerbar .window_contols .window_minimizebtn span {
  width: 10px;
  height: 1px;
  background: #000;
}

.window .headerbar .window_contols .window_minimizebtn:hover {
  background: #cbced0;
}

.window .headerbar .window_contols .window_maximizebtn {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
}

.window .headerbar .window_contols .window_maximizebtn span.x {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: calc( 50% - 1px);
  left: calc( 50% + 1px);
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  border: 1px solid #000;
}

.window .headerbar .window_contols .window_maximizebtn span.y {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: 1px;
  left: calc( 50% - 1px);
  background: #e7eaed;
  border: 1px solid #000;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.window .headerbar .window_contols .window_maximizebtn:hover {
  background: #cbced0;
}

.window .headerbar .window_contols .window_maximizebtn:hover span.y {
  background: #cbced0;
}

.window .headerbar .window_contols .window_closebtn {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1px;
  font-size: 20px;
}

.window .headerbar .window_contols .window_closebtn:hover {
  background: #e81123;
  color: #fff;
}

.icons {
  padding: 10px;
}

.icons .window_icon {
  margin: 5px;
  margin-top: 10;
}

.hide {
  display: none;
}

.content {
  min-width: 100%;
  min-height: 100%;
}

.content iframe {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */